#
# create a local file called '.env' in the base project dir. add your personal env variables there. 
# the '.env' file should not be checked in and is in the '.gitignore' file

# hardhat forking only works with mainnet right now
FORKING_URL=https://eth-mainnet.alchemyapi.io/v2/<YOUR_ALCHEMY_API_KEY>